.app-container {
    /* display: flex;
    flex-direction: column; */
    height: 100%; /* Full viewport height */
    /* margin: 0; */
  }
  .main-content {
    /* margin-top: 60px; 
    margin-bottom: 60px; */
    flex: 1; 
    padding: 1rem;
    overflow: auto; 
  }
  .header-bar,
  .footer-bar {
    background-color: #fefefe;
    padding: 1rem;
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
