

<div class="movie-grid-container">
    <div class="my-2">
        <label for="searchText" class="to-black">Search</label>
        <input type="text" class="form-control" #searchText placeholder="Search..." [(ngModel)]="value" (ngModelChange)="dataChanged(searchText.value)" />

        <!-- <p-floatLabel>
            <input pInputText id="username" class="form-control" [(ngModel)]="value" (ngModelChange)="dataChanged($event)" />
            <label for="username" class="to-black">Search</label>
        </p-floatLabel> -->

    </div>
    
    <div class="movie-grid">
        <h2 class="ring-offset-cyan-400 my-2">Popular Movies</h2>
        @if (moviesList.length) {
           
                <div class="grid grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-4">
                    @for (item of filertredList; track $index) {
                    
                            
                                <div class="card bg-blend-lighten py-2"  [routerLink]="['/movie', item.id]">
                                    <!--<h2>{{item.movie}}</h2>
                                     <img class="card-img-top" [src]="item.image" alt="Card image cap"> -->
                                    <div class="card-body">
                                      <h5 class="card-title">{{item.movie | titlecase}}</h5>
                                      <p class="card-text">Rating : {{item.rating}} </p>
                                      <a [href]="item.imdb_url" target="_blank" class="btn btn-primary">IMDB</a>
                                    </div>
                                  </div>

                            
                        
                 
 
             }

                </div>
             
            
            
        }
        

    </div>

</div>